*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************ Colors ***********/
:root {
  --color-main: #c31432;
  --color-alt: #240b36;

  --color-white: #fff;
  --color-dark: #272121;
  
  --color-grey-light: #999;
  --color-grey-dark: #444;
}

/**********ANIMATIONS ************/
@keyframes pulsate {
  0% {
    transform: scale(.99);
    box-shadow: 2.5rem 2.5rem 3rem rgba(0, 0, 0, .5);
  }

  100% {
    transform: scale(1.02);
    box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, .5);
  }
}

@keyframes pulsateLeft {
  0% {
    transform: translateX(-.7rem);
  }

  100% {
    transform: translateX(0);
  }
}

html {
  font-size: 62.5%; /*1 rem = 10px*/ 
  font-family: 'Sen', sans-serif;
}

body {
  overflow-x: hidden;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--color-alt), var(--color-main));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, var(--color-alt), var(--color-main)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/**********NAVBAR **********/
.nav {
  height: 7.5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-dark);
}

.btn {
  padding: .5rem 2rem;
  background-color: var(--color-main);
  color: var(--color-white);
  border: none;
  outline-color: var(--color-white);
}

.nav__btn {
  margin-left: 1rem;;
}

.nav__form {
  width: 100%;
  text-align: center;
  border: none;
}

.nav__search {
  padding: .8rem 0;
  border: none;
  outline: none;
  width: 50%;
  transition: width .5s ease;
} 

.nav__search:hover {
  width: 55%;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10rem, min-content));
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 4rem;
  padding: 3rem;
}

/**************CARD*************/
.card {
  text-align: center;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, .5);
  background-color: var(--color-white);
  border-radius: 3px;
  overflow: hidden;
  transition: transform 1s ease;
}

.card:hover {
  animation: pulsate infinite 2s ease-in;
  cursor: pointer;
}

.card__title {
  margin-top: .5rem;
}

.card__ratings {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.3rem 0;
}

.card__image {
  height: 22rem;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

/************ SINGLE_MOVIE **********/
.details {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  color: var(--color-white);
  position: relative;
  transition: transform 1s ease;
}

.details__image {
  height: 35rem;
  width: 90%;
}

.details__title {
  font-size: 4rem;
}

.details__overview {
  margin-bottom: 1.5rem;
}

.details__overview-text {
  font-size: 2rem;
  letter-spacing: .1em;
  margin-bottom: 3rem;
}

.details__info {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.details__btn {
  position: absolute;
  top: 5%;
  left: 10%;
  animation: pulsateLeft 1.5s infinite ease-out;
}

.details__btn:hover {
  cursor: pointer;
}

.details__video {
  height: 350px;
  width: 650px;
}

/***********MEDIA QUERIES *************/
@media(max-width: 1250px) {
  html {
    font-size: 75%;
  }

  .nav__search {
    width: 80%;
  }

  .details {
    width: 100%;
  }

  .details__title {
    margin-top: 1rem;
  }

  .details__overview-text {
    margin: 0 auto;
    width: 80%;
  }

  .details__video {
    height: 400px;
    width: 100%;
  }

  .details__btn {
    left: 5%;
  }
}

@media(max-width: 600px) {
  html {
    font-size: 50%;
  }
 
  .details__video {
    height: 200px;
    width: 60%;
  }

  .details__btn {
    left: 25%;
  }
}


