*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --color-main: #363795;
  --color-alt: #005C97;

  --color-white: #fff;
  --color-dark: #000;
  
  --color-grey-light: #999;
  --color-grey-dark: #444;
}

html {
  font-size: 62.5%; /*1 rem = 10px*/ 
  font-family: 'Sen', sans-serif;
}
 
.container {
  text-align: center;
  height: 90vh;
  margin-top: 3rem;
}

.nav {
  height: 7.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: crimson;
}

.nav__btn {
  padding: .5rem 1rem;
}

.nav__input {
  width: 100%;
  text-align: center;
}

.nav__search {
  padding: .5rem 0;
  width: 60%;
} 